<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <base href="/internshipbrowser/">
    <title>Internship Browser</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

  <style>
    .RecastAppExpander {
      bottom: 50px!important;
    }
  </style>

  </head>
  <body>
    <div id="app">
      <v-app>
        <v-app-bar app>
            <img src="./img/logo_ai4eu_beta.svg" height="30px" class="mr-6"/>
            
            <v-toolbar-title class="d-none d-sm-flex">Internship Browser</v-toolbar-title>
            <v-spacer></v-spacer>
            <div>{{profile.name}} {{profile.surname}}</div>
			      <v-btn icon @click="signOut()">
			        <v-icon>mdi-location-exit</v-icon>
			      </v-btn>
			  </v-app-bar>

        <v-main>
			    <v-container fluid>
			      <v-row justify="center">
			        <v-col lg="6">
				       <v-card tile>
				         <v-card-title>Il mio profilo di studio</v-card-title>
				         <v-card-text>
				          <v-simple-table>
				            <template>
				              <tbody>
                        <tr><th>Istituto</th><td>{{profile.institute}}<br>
                          <small>{{profile.instituteAddress}} <a target="_blank" :href="'https://www.google.com/maps?q='+profile.instituteAddress">(map)</a></small>
                        </td></tr>
                        <tr><th>Corso</th><td>{{profile.course}}
                          <small v-if="profile.instituteReferent"><br>Reference person: {{profile.instituteReferent}}</small>
                        </td></tr>
                        <tr><th>Classe</th><td>{{profile.courseClass}} ({{profile.courseYear}})</td></tr>
                        <tr><th>Anno di corso</th><td>{{profile.registrationYear}} ({{profile.instituteHours[profile.registrationYear]}} ore previste)</td></tr>
                        <tr><th>Piano di studio</th><td>{{profile.planTitle}}</td></tr>
                      </tbody>
                    </template>
				          </v-simple-table>
 				         </v-card-text>
				       </v-card>
              </v-col>
            </v-row>
            <v-row justify="center">
              <v-col lg="6">
               <v-card tile>
                 <v-card-title>Le mie competenze</v-card-title>
                 <v-card-text>
                  <v-simple-table>
                    <template>
                      <tbody>
                        <tr v-for="c of profile.competences" :key="c.id"><td>{{c.description || c.title}} ({{c.source || ('ESCO: ' + c.escoTitle)}})</td></tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                 </v-card-text>
               </v-card>
              </v-col>
            </v-row>
            <v-row justify="center" >
             <v-col lg="6">
               <v-card tile>
                 <v-card-title>Attività pianificate</v-card-title>
                 <v-card-text>
                  <div  v-for="a of profile.futureActivities" :key="a.type">
                    <h2>{{a.type == 'internship' ? 'Tirocinio': a.type}} (Anno {{a.registrationYear}})</h2>
                    <div v-if="preferences[a.type+a.registrationYear]">
                    <br>
                    <h3>Le mie preferenze</h3> clicca <a @click="reset(a.type, a.registrationYear)">QUI</a> per azzerare
	                  <v-simple-table>
	                    <template>
	                      <tbody>
	                        <tr><th><img src="./img/mytopic.png" width="40px"></th><th>Temi di interesse</th><td>{{preferences[a.type+a.registrationYear].mytopic}}</td></tr>
                          <tr><th><img src="./img/mycompany.png" width="40px"></th><th>Tipo di azienda</th><td>{{preferences[a.type+a.registrationYear].mycompany}}</td></tr>
                          <tr><th><img src="./img/mycity.png" width="40px"></th><th>Città di interesse</th><td>{{preferences[a.type+a.registrationYear].mycity}}</td></tr>
                          <!--tr><th><img src="./img/mylocation.png" width="40px"></th><th>Distance of interest</th><td>{{preferences[a.type+a.registrationYear].mylocation}}</td></tr-->
	                      </tbody>
	                    </template>
	                  </v-simple-table>
                    <br>
                    <h3>Tirocini preferiti</h3>
                    <v-simple-table>
                      <template>
                        <tbody>
                          <tr v-for="o of preferences[a.type+a.registrationYear].ilike" :key="o.id">
                          <td><strong>{{o.company}}</strong><br>{{o.address.replace(' null', '')}}<br><small>{{o.description}}</small></td></tr>
                        </tbody>
                      </template>
                    </v-simple-table>
	                  </div>
                    <div v-if="!preferences[a.type+a.registrationYear]">
                      <br>
                      <h2>Non ci sono preferenze definite! Usa il chatbot per esprimere le tue preferenze e  per miglorare il processo di selezionamento!</h2>
                    </div>
                  </div>
                 </v-card-text>
               </v-card>
              </v-col>              
            </v-row>
            <v-row justify="center">
             <v-col lg="6">
               <v-card tile>
                 <v-card-title>Attività passate</v-card-title>
                 <v-card-text>
                  <v-simple-table  v-if="profile.completeActivities && profile.completeActivities.length > 0">
                    <template>
                      <tbody>
                        <tr v-for="a of profile.completeActivities" :key="a.type"><td>{{a.type == 'internship' ? 'Tirocinio': a.type}} (anno {{a.registrationYear}})</td></tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                 </v-card-text>
               </v-card>
              </v-col>
            </v-row>
            
			    </v-container>
			  </v-main>
			  <v-footer app>
			    SmartCommunity Lab, FBK, AI4EU Project 2020 &copy; 
			    <v-spacer></v-spacer>
			    <small class="d-none d-md-flex">This project has received funding from the European Union's Horizon 2020 research and innovation programme under grant agreement 825619.</small>
			  </v-footer>    
      </v-app>
    </div>      
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./lib/oidc-client.min.js"></script>
	  
	  <script>
	    acessToken = null;
	    var mgr = new Oidc.UserManager({
	        userStore: new Oidc.WebStorageStateStore(),  
	        authority: 'https://aac.platform.smartcommunitylab.it/aac',
	        client_id: '7175611b-cb56-4d76-b516-ee2df4461711',
	        redirect_uri: window.location.origin + '/internshipbrowser/callback.html',
	        response_type: 'token',
	        scope: 'openid profile email',
	        post_logout_redirect_uri: window.location.origin + '/internshipbrowser',
	        accessTokenExpiringNotificationTime: 10,
	        automaticSilentRenew: false,
	        filterProtocolClaims: true,
	        loadUserInfo: true
	      })
	    let self = this;  	    

	    new Vue({
	      el: '#app',
	      vuetify: new Vuetify(),
	      data() {
	    	  return {
	    		  accessToken: null,
	    		  profile: {},
            position: null,
            preferences: {}
	    	  }
	      },
	      created() {
	    	  var self = this;
          mgr.getUser().then(function (user) {
              if (user == null) {
                mgr.signinRedirect().catch(function (err) {
                      console.log(err)
                })
              } else {
                self.accessToken = user.access_token;
                self.loadProfile();

              }
            }).catch(function (err) {
              console.log(err)
              mgr.signinRedirect().catch(function (err) {
                  console.log(err)
              })
            });

	      },
	      methods: {
	    	  loadProfile() {
	    		  var self = this;
	    		  axios.get('./api/user/me', {headers: {Authorization: 'Bearer ' + this.accessToken}})
	    		  .then(function(profile) {
              if (profile.data.competences) {
                var unique = [];
                var uniqueComps = [];
                profile.data.competences.forEach((c) => {
                  if (unique.indexOf(c.id) < 0) {
                    uniqueComps.push(c);
                    unique.push(c.id);
                  }
                });  
                profile.data.competences = uniqueComps;            
              }
              self.profile = profile.data;
              
              if (navigator.geolocation) {
                try {
                  navigator.geolocation.watchPosition(function(p) {
                    self.position = [p.coords.latitude, p.coords.longitude];
                  });                  
                } catch(e) {
                  console.error('position is not available');
                  self.position = self.profile.instituteCoordinates;                  
                }
              } else {
                self.position = self.profile.instituteCoordinates;
              }
              
              window.webchatMethods = {
                // called at each user message
                getMemory: (conversationId) => {
                  const memory = { student_name: self.profile.name + ' ' + self.profile.surname, student_id: self.profile.studentId, location: self.position.join(','), language: "it" }
                  return { memory, merge: true }
                }
              }
              
              self.profile.futureActivities.forEach(function(a){
                axios.get('./api/preferences/' + self.profile.studentId+'/'+a.type+'/'+a.registrationYear).then(function(prefs) {
                  var pref = (prefs.data ? prefs.data.preferences : null);
                  var key = a.type + a.registrationYear;
                  if (pref.ilike && pref.ilike.length > 0) {
                    var promises = [];
                    pref.ilike.forEach(function(id) {
                      promises.push(axios.get('./api/activities/'+id));
                    });
                    axios.all(promises).then(function(results) {
                      pref.ilike = results.map(function(a) {return a.data});
                      self.$set(self.preferences, key, pref);
                      console.log(self.preferences);
                    });
                  }
                });
              });
	    		  })
            .catch(function(err) {
              if (err.response && err.response.status == 401) {
                self.signOut();
              }
              console.log(err);
            });
	    	  },
	    	  signOut () {    
	    		    mgr.signoutRedirect().then(function (resp) {
	    		      console.log('signed out', resp);
	    		    }).catch(function (err) {
	    		      console.log(err)
	    		    })
	    		  },
            reset(type, year) {
              var self = this;
              axios.post('./api/preferences/' + self.profile.studentId+'/'+type+'/'+year+'/student', {}).then(function(res) {
                self.$set(self.preferences, type + year, null);
              });
            }
	      }
	    })
	  </script>
    
    <script
      src="https://cdn.cai.tools.sap/webchat/webchat.js"
      channelId="21137015-c813-4698-9e42-23cf13ee07da"
      token="a69f1f2bb178ef39261a7ed9581f1456"
      id="cai-webchat">
      
      </script>
  </body>
</html>