/activities.json
/attivita_alternanza1.csv
/competences.json
/competenza1.csv
/piano_alternanza1.csv
/plans.json
/ai4eu-offer_activities_esco.csv
/ai4eu-plans_esco.csv
/ai4eu-students_competences_esco.csv
/companies.csv
